footer .container {
  margin-top: 0;
}

footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  width: 100%;
  height: 60px;
  background-color: #333;
  color: white;
  text-align: center;
  border-top: 2px solid #333;
}