footer .container {
  padding: 0;
}

footer {
  padding: 0;
  background-color: #333;
  color: white;
}

button{
  padding: 0;
  background-color: #333;
  border: none;
  width: 60px;
}

.row-cols-1{
  
}

.instagram, .twitter, .facebook{
  padding-left: 17px;
}

.text-muted{
  padding-right: 5px;
  margin: 0;
}

.container-fluid{
  padding: 0;
}



