.navbar-container {
  background-color: #333;
}

.main-logo {
  height: 5rem;
}

.nav-item {
  background-color: transparent;
  border: none;
}

.nav-image {
  height: 20px;
  background-color: none;
  margin-left: 0.5rem;
}

button .nav-image{
  margin-bottom: 0.4rem;
  margin-right: 0.5rem;
}


