.navbar-container {
  display: inline-flex;
  position: relative;
  overflow: visible;
  background-color: #6c402e;
}

/*.d-flex {
  gap: 40rem;
} */

.main-logo {
  height: 5rem;
}

.nav {
  align-items: center;
}

.nav-item {
  background-color: transparent;
  border: none;
}

input {
 border: 3px solid rgb(98, 48, 26);
 border-radius: 4px;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-icon {
  height: 1.5rem;
  background-color: none;
  margin-right: 1.5rem;
  margin-bottom: 0.4rem;
  
}

.search-icon {
  margin-right: 3rem;
  margin-bottom: 0.4rem;
}
