.dropdown-menu {
  background: linear-gradient(to top, #efe9e9 78%, #c7b89b 50%);
  padding: 2rem;
  box-shadow: rgba(86, 86, 86, 0.313) 0px 5px 10px, rgba(81, 81, 81, 0.461) 0px 5px 10px;
}

.a {
  display: flex;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom:  1px solid #333;
}

.b {
  padding: 0.3rem 0.5rem;
}

.c { 
  border-right: 2px solid #999;
}

.asd {
  color: black;
 
}

.asd:hover,
.asd:active {
  color: rgb(74, 74, 74);
  cursor: pointer;
}

.d {
  margin: 1rem 0;
}

.form-btn {
  background-color: #c7b89b;
  padding: 0.5rem 1rem;
  box-shadow: rgba(86, 86, 86, 0.313) 0px 5px 5px, rgba(81, 81, 81, 0.461) 0px 6px 6px;
  height: 3rem;
  border: 2px solid #9c9078;
  border-radius: 5px;
}