a:hover {
  cursor: pointer;
}

.cart-link {
  padding: 0;
  margin: 0;
}

.cart-link:hover {
  text-decoration: none;
}

.offcanvas {
  background: url('../../images/body-background.png');
  background-size: cover;
}

.cart-title {
  margin: 0;
  color: black;
}

.cart-form2 {
  grid-column: 1;
  padding: 0.5rem;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2;
  column-gap: 0.5rem;
  border: none;
}

.cart-pic {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.help-container {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 1 / span 2;
}

.cart-amount {
  display: flex;
}

.cart-amount input{
  background-color:transparent;
  border: none;
  box-shadow: none;
  width: 43px;
  padding: 0;
  margin: 0;
}

.cart-remove-btn {
  text-align: center;
}

.cart-price2 {
  font-weight: bold;
  grid-column: 3;
}

.cart-btn {
  background-color: #c7b89b;
  padding: 0.5rem 1rem;
  box-shadow: rgba(86, 86, 86, 0.313) 0px 5px 5px, rgba(81, 81, 81, 0.461) 0px 6px 6px;
  height: 3rem;
  border: 2px solid #c3b496;
  border-radius: 5px;
}

.cart-btn:hover {
  filter: brightness(90%);
  transition: 0.4s;
}

@media (max-width: 425px) { 

.offcanvas {
  width: 100%;
}

}