body,
html {
  font-family: 'Belgrano', serif;
  /*bg-img: https://www.freepik.com/free-photo/neutral-abstract-texture-simple-background_15554674.htm#query=brown%20banner&position=4&from_view=keyword*/
  background-image: url('../../images/body-background.png');
  background-size: cover;
}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: 20% 2fr;
  grid-template-rows: 1fr auto;
}

/* MAIN CAROUSEL */

.carousel-grid {
  grid-column: 2 / span auto;
}

.carousel-caption {
font-family: 'Secular One', sans-serif;
text-shadow: 2px 3px 7px rgba(31, 31, 31, 0.8);
}

.carousel-item {
  filter: brightness(80%);
}

.carousel-img1 {
  /* https://www.pexels.com/photo/person-standing-on-the-white-snow-7026763/ */
  background-image: url('../../images/banner/banner-img1.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  filter: blur(0.7px);
  filter: brightness(90%);
}

.carousel-img2 {
  /* https://unsplash.com/photos/jIC8KrAn0j8 */
  background-image: url('../../images/banner/banner-img2.jpg');
  background-size: cover;
  height: 300px;
  width: 100%;
  filter: blur(0.7px);
  filter: brightness(70%);
}

.btn-xmas {
  display: inline-block;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: rgba(48, 123, 57, 0.943);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-sizing: border-box;
}

.btn-xmas:hover {
  background-color: rgba(78, 205, 82, 0.581);
  transition: 0.5s;
}

.btn-xmas span::after {
  content: '\00bb';
  opacity: 0;
  top: 10px;
  transition: 0.4s;
}

.btn-xmas:hover span:after {
  opacity: 1;
  right: 0;
}


.btn-about {
  display: inline-block;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: rgb(232, 220, 129);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-about:hover {
  filter: brightness(70%);
  transition: 0.6s;
}

.btn-about span::after {
  content: '\00bb';
  opacity: 0;
  top: 10px;
  transition: 0.4s;
}

.btn-about:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-xmas:active,
.btn-about:active {
  text-decoration: underline;
  border: none;
}

/* LOGOS SECTION */

.logo-section {
  margin: 1rem;
  grid-column: 2 / span 3;
}

.logos {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.logo {
  height: 2rem;
  filter: brightness(0);
  opacity: 40%;
}

/* ADDITIONAL SECTION */

.additional {
  display: flex;
  grid-column: 2;
  grid-row: 3;
  gap: 20px;
  color: white;
  margin-bottom: 2.5rem;
}

.additional-col {
  padding-top: 15rem;
}

.col-banner {
  background: rgba(0, 0, 0, 0.516);
  padding: 1rem;
}

.col-banner:hover {
  cursor: pointer;
  transition: 0.4s;
  background: rgba(65, 65, 65, 0.628);
  padding: 1rem;
}

.col1 {
  background-image: url(../../images/additional/xmas.jpg);
  background-size: cover;
}

.col2 {
  background-image: url(../../images/additional/new.jpg);
  background-size: cover;
}

.col3 {
  background-image: url(../../images/additional/supplies.jpg);
  background-size: cover;
}

.add-btn {
  padding: 0.75rem 0.375rem;
  background: rgba(0, 0, 0, 0.556);
  border: 2px solid rgba(0, 0, 0, 0.516);
  color: white;
}

.add-btn:hover,
.add-btn:active {
  --bs-btn-hover-bg: rgba(75, 75, 75, 0.556);
  --bs-btn-hover-border-color: rgba(158, 158, 158, 0.516);
  --bs-btn-active-bg: rgba(0, 0, 0, 0.556);
  --bs-btn-active-border-color: black;
}

/* PRODUCTS */

.products-carousel {
  grid-column: 2;
  grid-row: end;
}

.products-header {
  color: #333;
  margin: 2rem 0;
}

/* .products-carousel div{
gap: 10px;
} */

/* SECTION */

.fixed-section {
  background-image: url(../../images/silk.jpg);
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  filter: brightness(75%);
  margin: 5rem 0;
  color: white;
  text-align: left;
}

.fixed-banner {
  display: flex;
  flex-direction: column;
  align-items: left;
  /*background: rgba(28, 28, 28, 0.1);*/
  padding: 0 0 4rem 2rem;
  position: absolute;
  bottom: 0;
}

.fixed-section input {
  height: 2rem;
}

.fixed-btn {
  height: 2rem;
  margin-left: 1rem;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.558);
  color: white;
  border: none;
  border-radius: 2px;
}

.fixed-btn:hover {
  background-color: rgba(110, 58, 8, 0.573);
}

.fixed-btn:active {
  font-weight: bold;
  border: none;
}