footer {
  padding: 2rem 0 0 2rem;
  background-color: rgba(36, 36, 36, 0.722);
  color: white;
}

h5 {
  color: rgba(248, 175, 102, 0.573);
  padding: 0.5rem 0;
}

.footer-container {
  display: flex;
  justify-content: center;
}

.dhl{
  width: 50px;
}

.postnord{
  width: 50px;
}

.posti{
  width: 50px;
}

.footer-icon {
  height: 2rem;
  background-color: none;
  margin-right: 1.5rem;
  margin-bottom: 0.4rem;
}

.footer-col,
.footer-col a {
  text-align: start;
}

.footer-column {
  padding: 0;
  list-style: none;
  flex-direction: column;
}

.footer-link {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer-link:hover {
  color: white;
  text-decoration: underline;
}

.helper-margin {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .footer-container {
    justify-content: end;
  }
}