body {
  font-family: 'Belgrano', serif;
}

/* GRID */

.grid-container {
  display: grid;
  /* background-color: #deb887; */
  grid-template-columns: 20% 2fr;
  grid-template-rows: 1fr auto;
}

/* SIDEBAR */

.sidebar {
  grid-column: 1;
  grid-row: 1 / span end;
}

.btn-toggle {
  padding-right: 1.5rem;
}

.sidebar-select:hover {
  text-decoration: underline;
}
/* MAIN CAROUSEL */

.carousel-grid {
  grid-column: 2 / span auto;
}

.carousel-caption {
font-family: 'Secular One', sans-serif;
text-shadow: 2px 3px 7px rgba(31, 31, 31, 0.8);
}

.carousel-item {
  filter: brightness(80%);
}

.carousel-img {
  height: 300px;
  width: 100%;
  filter: blur(1px);
}

.btn-xmas {
  display: inline-block;
  border-radius: 7px;
  padding: 0.3rem 0.5rem;
  background-color: rgb(25, 111, 32);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  box-sizing: border-box;
}

.btn-xmas:hover {
  filter: brightness(70%);
  transition: 0.6s;
}

.btn-xmas span::after {
  content: '\00bb';
  opacity: 0;
  top: 10px;
  transition: 0.4s;
}

.btn-xmas:hover span:after {
  opacity: 1;
  right: 0;
}


.btn-about {
  display: inline-block;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: rgb(232, 220, 129);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn-about:hover {
  filter: brightness(70%);
  transition: 0.6s;
}

.btn-about span::after {
  content: '\00bb';
  opacity: 0;
  top: 10px;
  transition: 0.4s;
}

.btn-about:hover span:after {
  opacity: 1;
  right: 0;
}

/* LOGOS SECTION */

.logo-section {
  margin: 1rem;
  grid-column: 2 / span 3;
}

.logos {
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.logos img {
  height: 2rem;
  filter: brightness(0);
  opacity: 40%;
}

/* ADDITIONAL SECTION */

.additional {
  display: flex;
  grid-column: 2;
  gap: 20px;
  color: white;
  margin-bottom: 5rem;
}

.additional-col {
  padding-top: 15rem;
}

.col-banner {
  background: rgba(0, 0, 0, 0.516);
  padding: 1rem;
}

.col-banner:hover {
  cursor: pointer;
  transition: 0.4s;
  background: rgba(65, 65, 65, 0.628);
  padding: 1rem;
}

.col1 {
  background-image: url(../images/additional/xmas.jpg);
  background-size: cover;
}

.col2 {
  background-image: url(../images/additional/new.jpg);
  background-size: cover;
}

.col3 {
  background-image: url(../images/additional/supplies.jpg);
  background-size: cover;
}

.additional-col a {
  padding: 0.75rem 0.375rem;
  background: rgba(0, 0, 0, 0.556);
  border: 2px solid rgba(0, 0, 0, 0.516);
}

/* PRODUCTS */

.album {
  grid-column: 2;
  margin-bottom: 10rem;
}

.product-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.product-header {
  grid-column: 1 / span 3;
  width: 100%;
}

.product-img {
  width: 100%;
}

.card-body {
  background-color: rgb(57, 57, 57);
}

.col {
  width: auto;
}

/* SECTION */

.fixed-section {
  background-image: url(../images/silk.jpg);
  min-height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(1px);
  filter: brightness(70%);
  margin: 5rem 0;
  color: white;
  text-align: left;
}

.fixed-banner {
  display: flex;
  flex-direction: column;
  align-items: left;
  /*background: rgba(28, 28, 28, 0.1);*/
  padding: 0 0 4rem 2rem;
  position: absolute;
  bottom: 0;
}