.ordercont {
    margin-top: 50px;
    margin-bottom: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    height: 50rem;
    display: flex;
    background:#efe9e9 78%;
    box-shadow: rgba(86, 86, 86, 0.313) 0px 5px 10px, rgba(81, 81, 81, 0.461) 0px 5px 10px;
}

.form {
    margin-top: 50px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 5px;
}

.checkout {
    margin-top: 50px
}

.amount {
    height: 2rem;
    border: 1px solid rgba(128, 128, 128, 0.615);
    border-radius: 5px;
    box-shadow: rgba(86, 86, 86, 0.313) 0px 3px 5px, rgba(81, 81, 81, 0.461) 0px 1px 6px;
    width: 60px;
}

h3{
    margin-top: 10px;
    padding: 5px;
}

.formitem {
    padding: 10px;
}
