.cont-help {
  max-width: 60rem;
}

.img-col {
  background-color: rgba(0, 0, 0, 0.032);
  border-radius: 5px;
}

.product-img{
  max-width: 80%;
  height: auto;
}

.flex-d-c {
  flex-direction: column;
}

.brand-name {
font-size: 1.5rem;
}

.brand-desc {
  font-size: 2rem;
  font-weight: bold;
}

.product-price {
  font-size: 2rem;
}

@media screen and (max-width: 991px) {
  .product-img {
    max-width: 100%;
  }
  .product-btn {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .full-width-col {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .cont-help {
    max-width: 100%;
  }
}