.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;;
}

.one {
grid-column: 1;
}

.two {
  grid-column: 2;
}

.brand-name {
font-size: 1.5rem;
}

.brand-desc {
  font-size: 2rem;
  font-weight: bold;
}

.product-price {
  font-size: 2rem;
}

.product-info {
  grid-column: 1;
}

.promises {
  grid-column: 2;
}