.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 10px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}
#products {
    display: inline-flex;
}

.product-container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
}

.side {
    grid-column: 1;
    grid-row: 1 / span end;
}

.category-name {
    grid-column: 2;
    font-weight: bold;
    font-size: 1.5rem;
}

.products-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
}

.item {
    padding: 0.5rem;
    margin: 0.5rem;
    background-color: rgba(0, 0, 0, 0.032);
    border-radius: 5px;
}

.item:hover {
    cursor: pointer;
    box-shadow: rgba(255, 186, 106, 0.25) 0px 30px 60px -12px inset, rgba(251, 191, 161, 0.292) 0px 18px 36px -18px inset;
}

.product-img {
    max-width: 100%;
    min-height: 100%;
}